.in-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.text-container {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.container{
    min-height: 550px;
    margin-top: 100px;
    margin-bottom: 150px;
}

footer{
    position:relative;
    bottom:0;
    width: 100%;
}